<launch>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="enable_sync" value="true" />
    <arg name="align_depth" value="true" />
  </include>

  <node name="sawyer_project_camera_node" pkg="sawyer_project" type="publisher_tf.py"  output="screen" >
    <!-- <param name="" type="" value="" /> -->
  </node>

</launch>
